.user-profile__container {
  display: flex;
  justify-content: center;
  padding: 15px 5px;
}
.user-profile__container img {
  border-radius: 8px;
  width: 250px;
  height: 250px;
}
.user-profile__container ul {
  text-align: left;
  margin: 0;
  font-size: 18px;
  list-style-type: none;
  padding-left: 15px;
}
.user-profile__container li {
  margin: 4px 0;
}
.user-profile__container .text-bold {
  font-weight: 600;
}

@media (max-width: 550px) {
  .user-profile__container{
    flex-direction: column;
  }
  .user-profile__container img {
    margin: 0px auto 5px auto;
  }
}



